body {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;

  .mainContainer {
    // border: 1px black solid;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .containerLeft {
      display: flex;
      align-items: center;
      // border: 1px yellowgreen solid;
      background-color: darkblue;
      width: 30%;
      height: 60%;

      .filmList {
        list-style-type: none;
        margin: 2rem 2rem 2rem 0rem;
      }

      .filmList li {
        color: white;
        text-decoration: none;
      }

      .filmList li:hover {
        text-decoration: none;
        cursor: pointer;
        width: 20vw;
      }

      // .filmList li:before {
      // }

      // .filmList li:after {

      // }
    }
    // .containerRight {
    //   background-color: green;

    .filmInfo {
      // border: 2px solid red;
      display: none;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 70%;
      height: 80%;

      .filmPosImg {
        width: 10rem;
      }

      p {
        width: 350px;
      }
    }
  }
}
